@tailwind base;
@tailwind components;
@tailwind utilities;

/* #020817 */

@layer base {
  :root {
    --background: 236 87% 63%;
    --foreground: 42 91% 61%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 42 91% 61%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 42 91% 61%;

    --primary: 42 91% 61%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 42 91% 61%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 42 91% 61%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    /* custom */
    --gradient: linear-gradient(to top left,#00F5A0,#00D9F5);
    --gradient-dark: linear-gradient(to top left,#002329, #001a24);
  }

  .dark {
    --background: 236 87% 0%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 222.86 84% 4.9%;
    --card-foreground: 213 31% 91%;

    --primary: 42 91% 61%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 42 91% 61%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  @property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
  }

  @keyframes rotateGradient {
    to {
      --angle: 360deg;
    }
  }
}
